<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Manage Games | GameMatch</title>
<%- include('../partials/header') %>
    <div class="container my-5 flex-grow-1">
        <h1 class="text-light text-center my-4">Manage Games</h1>
        <table class="table table-bordered">
            <thead class="thead text-center">
                <tr>
                    <th style="width: 25%">Name</th>
                    <th style="width: 25%">Image</th>
                    <th style="width: 30%">Tags</th>
                    <th style="width: 10%">Save</th>
                    <th style="width: 10%">Delete</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr>
                    <form id="game-new" action="/admin/games" method="POST">
                        <td>
                            <input type="text" name="name" class="form-control" placeholder="Game name" required>
                        </td>
                        <td>
                            <input type="text" name="image" class="form-control" placeholder="Image link" required>
                        </td>
                        <td>
                            <div id="tag-list-new"></div>
                            <div class="mt-2">
                                <select id="tag-select-new" class="custom-select d-inline w-auto mb-2">
                                    <option value="" selected disabled="disabled">Choose a tag</option>
                                    <% tags.forEach(tag => { %>
                                        <option value="<%= tag._id %>: <%= tag.name %>"><%= tag.name %></option>
                                    <% }); %>
                                </select>
                                <button id="tag-add-new" class="btn1 btn-primary d-inline">Add</button>
                            </div>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </td>
                    </form>
                </tr>
                <% games.forEach((game, gameIndex) => { %>
                    <% if (!game.deleted) { %>
                        <tr>
                            <form id="game-update-form-<%= gameIndex %>" action="/admin/games/<%= game._id %>?_method=PUT" method="POST"></form>
                            <input type="hidden" name="_id" value="<%= game._id %>" form="game-update-form-<%= gameIndex %>">
                            <input type="hidden" name="deleted" value="false" form="game-update-form-<%= gameIndex %>">
                            <td>
                                <input type="text" name="name" value="<%= game.name %>" class="form-control" form="game-update-form-<%= gameIndex %>" required>
                            </td>
                            <td>
                                <input type="text" name="image" value="<%= game.image %>" class="form-control" form="game-update-form-<%= gameIndex %>" required>
                                <div class="text-center pt-2">
                                    <img src="<%= game.image %>" alt="<%= game.name %> poster" class="ratio" style="--bs-aspect-ratio: 178%; max-width: 80px;">
                                </div>
                            </td>
                            <td>
                                <div id="tag-list-<%= gameIndex %>">
                                    <% game.tags.forEach((tag, tagIndex) => { %>
                                        <input id="tag-hidden-input-<%= gameIndex %>-<%= tagIndex %>" type="hidden" name="tags[]" value="<%= tag._id %>" form="game-update-form-<%= gameIndex %>">
                                        <span id="tag-<%= gameIndex %>-<%= tagIndex %>" class="badge badge-primary"><%= tag.name %> <button id="tag-delete-<%= gameIndex %>-<%= tagIndex %>" class="btn2 badge badge-danger">X</button></span>
                                    <% }); %>
                                </div>
                                <div class="mt-2">
                                    <select id="tag-select-<%= gameIndex %>" class="custom-select d-inline w-auto mb-3">
                                        <option value="" selected disabled="disabled">Choose a tag</option>
                                        <% let gameTags = game.tags.length %>
                                        <% tags.forEach(tag => { %>
                                            <% for(let i = 0; i < gameTags; ++i){ %>
                                                <% if(game.tags[i]._id.equals(tag._id)){ %>
                                                    <% break %>
                                                <% } %>
                                                <% if(i === gameTags - 1){ %>
                                                    <option value="<%= tag._id %>: <%= tag.name %>"><%= tag.name %></option>
                                                <% } %>
                                            <% } %>
                                        <% }); %>
                                        
                                        <!-- <% tags.forEach(tag => { %>
                                            <option value="<%= tag._id %>: <%= tag.name %>"><%= tag.name %></option>
                                        <% }); %> -->
                                    </select>
                                    <button id="tag-add-<%= gameIndex %>" class="btn1 btn-primary d-inline">Add</button>
                                </div>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary" form="game-update-form-<%= gameIndex %>">Save</button>
                            </td>
                            <td>
                                <form id="game-delete-<%= gameIndex %>" action="/admin/games/<%= game._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger red" form="game-delete-<%= gameIndex %>">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% } else { %>
                        <tr class="deleted-row">
                            <form id="game-deleted-update-form-<%= gameIndex %>" action="/admin/games/<%= game._id %>?_method=PUT" method="POST"></form>
                            <input type="hidden" name="_id" value="<%= game._id %>" form="game-deleted-update-form-<%= gameIndex %>">
                            <input type="hidden" name="deleted" value="true" form="game-deleted-update-form-<%= gameIndex %>">
                            <td>
                                <input type="text" name="name" value="<%= game.name %>" class="form-control" form="game-deleted-update-form-<%= gameIndex %>" required>
                            </td>
                            <td>
                                <input type="text" name="image" value="<%= game.image %>" class="form-control" form="game-deleted-update-form-<%= gameIndex %>" required>
                                <div class="text-center pt-2">
                                    <img src="<%= game.image %>" alt="<%= game.name %> poster" class="ratio" style="--bs-aspect-ratio: 178%; max-width: 80px;">
                                </div>
                            </td>
                            <td>
                                <div id="tag-list-<%= gameIndex %>">
                                    <% game.tags.forEach((tag, tagIndex) => { %>
                                        <input id="tag-hidden-input-<%= gameIndex %>-<%= tagIndex %>" type="hidden" name="tags[]" value="<%= tag._id %>" form="game-deleted-update-form-<%= gameIndex %>">
                                        <span id="tag-<%= gameIndex %>-<%= tagIndex %>" class="badge badge-primary"><%= tag.name %> <button id="tag-delete-<%= gameIndex %>-<%= tagIndex %>" class="btn2 badge badge-danger">X</button></span>
                                    <% }); %>
                                </div>
                                <div class="mt-2">
                                    <select id="tag-select-<%= gameIndex %>" class="custom-select d-inline w-auto mb-3">
                                        <% let gameTags = game.tags.length %>
                                        <option value="" selected disabled="disabled">Choose a tag</option>
                                        <% tags.forEach(tag => { %>
                                            <% for(let i = 0; i < gameTags; ++i){ %>
                                                <% if(game.tags[i]._id.equals(tag._id)){ %>
                                                    <% break %>
                                                <% } %>
                                                <% if(i === gameTags - 1){ %>
                                                    <option value="<%= tag._id %>: <%= tag.name %>"><%= tag.name %></option>
                                                <% } %>
                                            <% } %>
                                        <% }); %>
                                    </select>
                                    <button id="tag-add-<%= gameIndex %>" class="btn1 btn-primary d-inline">Add</button>
                                </div>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary" form="game-deleted-update-form-<%= gameIndex %>">Save</button>
                            </td>
                            <td>
                                <form id="game-republish-<%= gameIndex %>" action="/admin/games/<%= game._id %>?_method=PUT" method="POST">
                                    <input type="hidden" name="_id" value="<%= game._id %>">
                                    <input type="hidden" name="name" value="<%= game.name %>">
                                    <input type="hidden" name="image" value="<%= game.image %>">
                                    <% game.tags.forEach((tag, tagIndex) => { %>
                                        <input type="hidden" name="tags[]" value="<%= tag._id %>">
                                    <% }); %>
                                    <input type="hidden" name="deleted" value="false">
                                    <button type="submit" class="btn btn-success green" form="game-republish-<%= gameIndex %>">Republish</button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </div>

    <script>
        const games = <%- JSON.stringify(games) %>;

        games.forEach((game, gameIndex) => {
            game.tags.forEach((tag, tagIndex) => {
                document.getElementById(`tag-delete-${gameIndex}-${tagIndex}`).onclick = event => {
                    event.preventDefault();
                    document.getElementById(`tag-${gameIndex}-${tagIndex}`).remove();
                    document.getElementById(`tag-hidden-input-${gameIndex}-${tagIndex}`).remove();
                };
            });

            document.getElementById(`tag-add-${gameIndex}`).onclick = event => {
                event.preventDefault();
                if(document.getElementById(`tag-select-${gameIndex}`).value.split(': ')[0] === ""){
                    return
                }

                console.log('Before')
                let currentTag = `tag-${gameIndex}-${game.tags.length}`
                let temporalTags = document.querySelectorAll(`[id=${currentTag}]`);
                let tempLenght = temporalTags.length
                // document.querySelectorAll("[id='`tag-${gameIndex}-${game.tags.length}`']")

                // Check if they are repeated in temporal tags
                for(let i = 0; i < tempLenght; ++i){
                    console.log(i)
                    if(temporalTags[i].firstChild.data.trim() === document.getElementById(`tag-select-${gameIndex}`).value.split(': ')[1].trim()){
                        // console.log(temporalTags[i].firstChild.data.trim() + ' ' + document.getElementById(`tag-select-${gameIndex}`).value.split(': ')[1].trim())
                        // console.log(temporalTags[i].firstChild.data.trim() === document.getElementById(`tag-select-${gameIndex}`).value.split(': ')[1].trim())
                        return
                    }
                }

                
                console.log('After')

                const selectedTag = {
                    _id: document.getElementById(`tag-select-${gameIndex}`).value.split(': ')[0],
                    name: document.getElementById(`tag-select-${gameIndex}`).value.split(': ')[1],
                };

                const inputElem = document.createElement('input');
                inputElem.setAttribute('id', `tag-hidden-input-${gameIndex}-${game.tags.length}`);
                inputElem.setAttribute('type', 'hidden');
                inputElem.setAttribute('name', 'tags[]');
                inputElem.value = `${selectedTag._id}`;
                if (game.deleted) {
                    inputElem.setAttribute('form', `game-deleted-update-form-${gameIndex}`);
                } else {
                    inputElem.setAttribute('form', `game-update-form-${gameIndex}`);
                }
                

                const tagElem = document.createElement('span');
                tagElem.setAttribute('id', `tag-${gameIndex}-${game.tags.length}`);
                tagElem.setAttribute('class', 'badge badge-primary mr-1');
                
                const tagName = document.createTextNode(`${selectedTag.name} `);

                const tagDeleteButton = document.createElement('button');
                tagDeleteButton.setAttribute('id', `tag-delete-${gameIndex}-${game.tags.length}`);
                tagDeleteButton.setAttribute('class', 'btn2 badge badge-danger');
                tagDeleteButton.innerText = "X";

                tagElem.appendChild(tagName);
                tagElem.appendChild(tagDeleteButton);

                document.getElementById(`tag-list-${gameIndex}`).appendChild(inputElem);
                document.getElementById(`tag-list-${gameIndex}`).appendChild(tagElem);

                tagDeleteButton.onclick = event => {
                    event.preventDefault();
                    document.getElementById(`tag-${gameIndex}-${game.tags.length}`).remove();
                    document.getElementById(`tag-hidden-input-${gameIndex}-${game.tags.length}`).remove();
                };
            }
        });

        document.getElementById(`tag-add-new`).onclick = event => {
            event.preventDefault();
            if(document.getElementById(`tag-select-new`).value.split(': ')[0] === ""){
               return
            }
           
            const selectedTag = {
                _id: document.getElementById(`tag-select-new`).value.split(': ')[0],
                name: document.getElementById(`tag-select-new`).value.split(': ')[1],
            };

            if(document.getElementById(`tag-new-${selectedTag._id}`) !== null){
                return
            }

            const inputElem = document.createElement('input');
            inputElem.setAttribute('id', `tag-hidden-input-new-${selectedTag._id}`);
            inputElem.setAttribute('type', 'hidden');
            inputElem.setAttribute('name', 'tags[]');
            inputElem.value = `${selectedTag._id}`;
            inputElem.setAttribute('form', `game-new`);

            const tagElem = document.createElement('span');
            tagElem.setAttribute('id', `tag-new-${selectedTag._id}`);
            tagElem.setAttribute('class', 'badge badge-primary mr-1');
            
            const tagName = document.createTextNode(`${selectedTag.name} `);

            const tagDeleteButton = document.createElement('button');
            tagDeleteButton.setAttribute('id', `tag-delete-new-${selectedTag._id}`);
            tagDeleteButton.setAttribute('class', 'btn2 badge badge-danger mr-1');
            tagDeleteButton.innerText = "X";

            tagElem.appendChild(tagName);
            tagElem.appendChild(tagDeleteButton);

            document.getElementById(`tag-list-new`).appendChild(inputElem);
            document.getElementById(`tag-list-new`).appendChild(tagElem);

            tagDeleteButton.onclick = event => {
                event.preventDefault();
                document.getElementById(`tag-new-${selectedTag._id}`).remove();
                document.getElementById(`tag-hidden-input-new-${selectedTag._id}`).remove();
            };
        }
    </script>
<%- include('../partials/footer') %>