<%- include('../partials/Header') %>
    <section class="form my-4 mx-5">
        <div class="container text-light">
            <% if (current_user) { %>
                <div class="col-lg-9 pt-4 pb-4 m-auto">
                    <h1 class="lbTitle font-weight-bold py-3 text-center">Create a post</h1>
                    <form action="/games/<%= game._id %>/posts" method="POST">
                        <div class="form-row mb-3">
                            <div class="col-lg-12">
                                <label for="title" class="font-weight-bold">Title</label>
                                <input type="text" class="form-control mb-2 p-3" name="title" id="title"
                                    required="required">
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-lg-12">
                                <label for="description" class="post-input font-weight-bold">Description</label>
                                <textarea class="form-control mb-2 p-3" name="description" id="description" rows="6"
                                    required="required"></textarea>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-lg-12">
                                <label for="tags" class="font-weight-bold">Tags</label>
                                <div class="dropdown">
                                    <select name="tags" class="browser-default custom-select form-control" required>
                                        <option selected disabled="disabled"> Choose a tag</option>
                                        <% game.tags.forEach(tag => { %>
                                            <option value="<%= tag._id %>"><%= tag.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-lg-6 m-auto">
                                <a href="./"><input class="btn1 mt-4" type=button value='Back'></a>
                            </div>
                            <div class="col-lg-6 m-auto">
                                <button type="submit" class="btn1 btn-primary mt-4">Publish</button>
                            </div>
                        </div>
                    </form>
                </div>
            <% } %>
        </div>
    </section>
<%- include('../partials/footer') %>