<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %> | GameMatch</title>
<%- include('../partials/Header') %>
    <div class="container mb-5">
        <div id="post" class="postInfo px-5 py-4 text-center">
            <% if (current_user && (post.author._id.equals(current_user._id) || current_user.isAdmin)) { %>
                <form class="float-right" action="/games/<%= post.game._id %>/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm delete-btn px-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg></button>
                </form>
            <% } %>
            <h1 class="pt-5 mb-0"><%= post.title %></h1>
            <small class="pb-4">Posted by <%= post.author.username %></small>
            <p class="mt-2 mb-4"><a class="gameLink" href="/games/<%= post.game._id %>"><%= post.game.name %></a> | Tags:
                <% post.tags.forEach(tag => { %>
                    <span class="tag py-1 px-2"><%=tag.name%></span>
                <% }); %></p>
            <p class="mt-1 pb-3"><%= post.description %></p>
        </div>
        <div class="commentSection text-light pb-2 px-2">
            <% if (user !== undefined) { %>
                <div id="new-comment" class="commentBox p-4 mt-4">
                    <form action="/games/<%= post.game._id %>/posts/<%= post._id %>/comments" method="POST">
                        <div class="form-group">
                            <label for="text" class="form-label pt-2">Leave a comment</label>
                            <textarea name="text" class="form-control" rows="3" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            <% } %>
            <% if (post.comments.length != 0) { %>
                <% post.comments.forEach(comment => { %>
                    <div class="card px-4 pt-3">
                        <small class="author font-weight-bold"><%= comment.author.username %>
                            <span> 
                                <% if (current_user && (comment.author._id.equals(current_user._id) || current_user.isAdmin)) { %>
                                <form class="float-right" action="/games/<%= post.game._id %>/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm delete-btn mr-1 mt-2 pb-1" style="width: 28px; height: 28px; padding: 0;"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg></button>
                                </form>
                                <% } %> 
                            </span>
                        </small>
                        <p><%= comment.text %></p>
                        <hr>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="card px-4 pb-4 mb-3">
                    <p class="text-center mb-0">No comments yet.</p>
                </div>
            <% } %>
        </div>
    </div>
<%- include('../partials/footer') %>
